(function(){
  $(function(){
    app.compare.maps = {};
    $.extend(app.compare.maps, {
      parent: app.compare,
      root: null,
      view: null,
      maps: [],
      styles: null,
      init: function(){
        this.initRoot();
        this.initView();
        this.initGoogleMaps();
      },
      initRoot: function(){
        this.root = this.parent.root;
      },
      initView: function(){
        this.view = this.parent;
      },
      initGoogleMaps: function(){
        var _self = this;
        this.root.google_maps_loader.load(function(){
          _self.googleMapsOnLoad();
        });
      },
      googleMapsOnLoad: function(){
        this.initStyles();
        this.initMaps();
        this.view.ready();
      },
      initStyles: function(){
        this.styles = this.parent.map_styles;
        this.styles.initStyles();
      },
      initMaps: function(){
        var kms = this.view.kms;
        var length = kms.length;
        for(var i = 0; i < length; ++i){
          var container = kms[i];
          var km = container.attr('data-km');
          km = JSON.parse(km);
          kms[i].data = km;
          this.addMap({ index: i, container: container,  km: km });
        }
      },
      addMap: function(opts){
        var el = {};
        $.extend(el, {
          parent: this,
          root: null,
          view: null,
          map: null,
          km: null,
          style: null,
          styles: null,
          center: null,
          container: null,
          config: null,
          label: null,
          index: 0,
          init: function(){
            this.initRoot();
            this.initView();
            this.initConfig();
            this.initStyles();
            this.initCenter();
            this.initMap();
            this.initLayers();
            //this.initLabel();
          },
          initRoot: function(){
            this.root = this.parent.root;
          },
          initView: function(){
            this.view = this.parent.view;
          },
          initConfig: function(){
            this.config = this.view.config.map;
          },
          initStyles: function(){
            this.styles = this.parent.styles;
          },
          initCenter: function(){
            this.center = new google.maps.LatLng(this.km.lat, this.km.lng);
          },
          initMap: function(){
            var container = this.container.get(0);
            this.map = new google.maps.Map(container, 
					    $.extend({
						    center: this.center,
						    mapTypeControlOptions: {
							    mapTypeIds: this.styles.key_list
						    }
					    }, this.config.map.opts)
            );
            this.initStyle();   
          },
          initLabel: function(){
            this.label = $('<div class="compare_map_label"></div>');
            this.label.appendTo(this.container);
            this.label.html(this.km.name);
          },
          initStyle: function(){
            this.styles.setMap(this.map);
				    var list = this.styles.list;
				    var style = null;
				    $.each(list, function(key, el){
					    style = el;
					    return false;
				    });
				    if(style != null) this.setStyle(style); 
          },
          setStyle: function(style){
            this.style = style;
            this.map.setMapTypeId(this.style.gm_key);
          },
          initLayers: function(){
            this.initTrafficLayer();
            this.initHeatLayer(); 
          },
          initTrafficLayer: function(){
            var el = {};
            $.extend(el, {
              parent: this,
              layer: null,
              init: function(){
                this.render();
              },
              render: function(){
                if(this.layer == null){
                  this.layer = new google.maps.TrafficLayer();
                  this.layer.setMap(this.parent.map);
                }
              }
            });
            el.init();
          },
          initHeatLayer: function(){
            var el = {};
            $.extend(el, {
              parent: this,
              root: null,
              view: null,
              config: null,
              req: null,
              params: {
                km_id: this.km.id
              },
              url: null,
              layer: null,
              init: function(){
                this.initRoot();
                this.initConfig();
                this.initView();
                this.initUrl();
                this.initData();
              },
              initRoot: function(){
                this.root = this.parent.root;
              },
              initConfig: function(){
                this.config = this.parent.config.layers.heat;
              },
              initView: function(){
                this.view = this.parent.view;
              },
              initUrl: function(){
                this.url = this.config.url;
              },
              initData: function(){
                this.req = $.ajax({
                  url: this.url,
                  type: 'POST',
                  context: this,
                  data: this.params,
                  success: this.success,
                  error: this.error
                });
              },
              success: function(data){
                this.data = data.contents;
                this.render();
              },
              render: function(){
                if(this.layer == null){
                  var points = this.arrayToPoint(this.data);
                  var gradient = this.config.gradient;
                  var radius = this.config.radius;
                  var opacity = this.config.opacity;
                  var max_intensity = this.config.max_intensity;
                  this.layer = new google.maps.visualization.HeatmapLayer({
                    data: points,
                    dissipating: true,
                    gradient: gradient,
                    opacity: opacity,
                    radius: radius,
                    maxIntensity: max_intensity
                  });
                  this.layer.setMap(this.parent.map);
                }
              },
              arrayToPoint: function(data){
                var result = [];
                var length = data.length;
                if(length > 0){
                  for(var i = 0; i < length; ++i){
                    var el = data[i];
                    var point = { location: new google.maps.LatLng(el.lat, el.lng), weight: el.f_length };
                    //var point = { location: new google.maps.LatLng(el.lat, el.lng), weight: 1 };
                    result.push(point);
                  }
                }
                return result;
              },
              error: function(){
                console.log('error'); // TODO errors and friends
              }
            });
            el.init();
          }
        }, opts);
        el.init();
        this.maps.push(el);
      }
    });
    app.compare.maps.init();
  });
})(jQuery);
