(function(){
  $(function(){
    var el = app.km.select = {};
	  $.extend(el, {
	    parent: app.km,
	    root: null,
	    container: null,
	    filters: [],
	    view: null,
	    lang: null,
	    config: null,
	    data: {},
	    submit_btn: null,
	    init: function(){
	      this.initRoot();
	      this.initView();
	      this.initLang();
	      this.initConfig();
	      this.initWrapper();
	      this.initContainer();
	      this.initData();
	      this.initSubmitBtn();
	      this.initFilters();
	    },
	    initRoot: function(){
	      this.root = this.parent.root;
	    },
	    initLang: function(){
	      this.lang = this.view.lang.select;
	    },
	    initConfig: function(){
	      this.config = this.view.config.select;
	    },
	    initWrapper: function(){
	      this.wrapper = $('#select_dialog');
	    },
	    initContainer: function(){
	      this.container = this.wrapper.find('#select_dialog_filters');
	    },
	    initView: function(){
	      this.view = this.parent.view;
	    },
	    initData: function(){
	      this.data = this.container.attr('data-location');
	    },
	    initSubmitBtn: function(){
	      var _self = this;
	      this.submit_btn = this.wrapper.find('#select_dialog_btn');
	      this.root.click(this.submit_btn, function(e, container){
	        _self.submitBtnOnClick();
	      });
	    },
	    submitBtnOnClick: function(){
	      var url = this.getCompareLink(this.filters);
	      if(url != null){
          window.location.href = url;	      
	      }
	    },
	    getCompareLink: function(data){
        var link = null;
        var link_base = unescape(config.server.paths.compare) + '?';
	      var length = data.length;
	      var res = [];
	      for(var i = 0; (i < length) && i < 4; ++i){
	        var km = data[i].km;
	        if(km != null){
	          res.push(encodeURIComponent('km['+ i + ']') + '=' + encodeURIComponent(km.id));
	        }
	      }
	      if(res.length > 0){
	        link = link_base + res.join('&');
	      }
	      return link;
	    },
	    initFilters: function(e, container){	      
	      var length = this.config.filters;
	      for(var i = 0; i < length; ++i){
	        this.addFilters(i, this.data);
	      }
	      //this.filters[0].preload();
	    },
	    addFilters: function(index, data){
	      var filter = {};
	      $.extend(filter, {
	        index: index,
	        data: data,
	        parent: this,
	        root: this.root,
	        labels: this.config.labels,
	        icons: this.config.icons,
	        container: null,
	        top: null,
	        content: null,
	        bottom: null,
	        result: null,
	        remove_btn: null,
	        filters: {},
	        km: null,
	        init: function(){
	          this.initContainer();
	          this.hide();
	        },
	        preload: function(){
	          if(this.filters != null){
	            this.filters.country.setActiveByKey('list_countries', true);
	            this.filters.city.setActiveByKey('list_cities', true);
	            this.filters.km.setActiveByKey('list_kms', true);	          
	          }
	        },
	        initContainer: function(){
	          this.container = $('<div class="select_dialog_filter"></div>');
	          this.initTop();
	          this.initBottom();
	          this.container.appendTo(this.parent.container)
	        },
	        initTop: function(){
	          this.top = $('<div class="sdf_top"></div>');
	          this.initLabel();
	          this.initContent();
	          this.top.append('<div class="clear"></div>');
	          this.top.appendTo(this.container);
	        },
	        initLabel: function(){
	          var label = $('<div class="sdf_top_index">' + (this.index + 1) + '.</div>');
	          label.appendTo(this.top);
	        },
	        initContent: function(){
	          this.content = $('<div class="sdf_top_content"></div>');
	          this.initDropdowns();
	          this.content.appendTo(this.top);
	        },
	        initDropdowns: function(){
	          this.initCountryDropdown();
	          this.initCityDropdown();
	          this.initKm2Dropdown();
	        },
	        initCountryDropdown: function(){
	          var _self = this;
	          this.filters.country = this.getDropdown('country', {
	            key: 'list_countries',
	            selected_key: this.data.country_id,
	            change: function(which){
	              _self.countryDropdownOnChange(which);
	            }
	          });
	        },
	        countryDropdownOnChange: function(which){
	          this.hide();
	          this.filters.city.clear();
	          this.filters.km2.clear(false);
						$.extend(this.filters.city.data, {
							country_id: which.data.id
						});
	        },
					initCityDropdown: function(){
						var _self = this;
						this.filters.city = this.getDropdown('city', {
							key: 'list_cities',
							selected_key: this.data.city_id,
							data: {
								country_id: this.data.country_id
							},
							change: function(which){
								_self.cityDropdownOnChange(which);
							}
						});
					},
					cityDropdownOnChange: function(which){
					  this.hide();
						this.filters.km2.clear();
						$.extend(this.filters.km2.data, {
							city_id: which.data.id
						});
					},
					initKm2Dropdown: function(){
						var _self = this;
						this.filters.km2 = this.getDropdown('km2', {
							key: 'list_kms',
							selected_key: this.data.km_id,
							data: {
								city_id: this.data.city_id
							},
							change: function(which){
								_self.km2DropdownOnChange(which);
							}
						});
					},
					km2DropdownOnChange: function(which){
						if(which != null){
						  this.km = which.data;
						  this.show(this.km.name);
						}
					},
          getDropdown: function(key, opts){
	          var view = this.parent.view;
	          var label = this.parent.lang.labels[key];
	          var icon = this.parent.config.icons[key];
	          var container = this.content;
	          return this.root.fmx.dropdown(
		          $.extend(opts, {
			          api_client: this.root.api_client,
			          icon: icon,
			          label: label,
			          parent_container: container,
			          getKey: function(key, el){
				          return el.id;				
			          }
		          })
	          );
          },
	        initBottom: function(){
	          this.bottom = $('<div class="sdf_bottom"></div>');
	          this.initResult();
	          this.initRemoveBtn();
	          this.bottom.append('<div class="clear"></div>');
	          this.bottom.appendTo(this.container);
	        },
	        initResult: function(){
	          this.result = $('<div class="sdf_bottom_result"></div>');
	          this.result.appendTo(this.bottom);
	        },
	        initRemoveBtn: function(){
	          this.remove_btn = $('<a href="#" class="sdf_bottom_remove_btn">X</a>');
	          this.remove_btn.appendTo(this.bottom);
	          var _self = this;
	          this.root.click(this.remove_btn, function(e, container){
	            _self.removeBtnOnClick();
	          });
	        },
	        removeBtnOnClick: function(){
	          this.hide();
	        },
	        show: function(result){
	          this.result.html(result);
	          this.remove_btn.css('opacity', 1);
	        },
	        hide: function(){
	          this.km = null;
	          this.result.html('');
	          this.remove_btn.css('opacity', 0);
	        }
	      });
	      filter.init();
	      this.filters.push(filter);
	    }
	  });
	  el.init();
  });
})(jQuery);
