<div id="stats_slider_container">
  <a id="stats_prev_btn" href="#" class="stats_btn">
    <%= image_tag 'app/icons/stats/slider/actions/prev.png', width: 34, height: 34 %>
  </a>
  <div id="stats_slider"></div>
  <a id="stats_next_btn" href="#" class="stats_btn">
    <%= image_tag 'app/icons/stats/slider/actions/next.png', width: 34, height: 34 %>
  </a>
</div>
