@import 'app/shared.css.scss';
#compare{
  position: absolute;
  width: 100%;
  height: 100%;
  .compare_map{
    position: absolute;
		width: 100%;
		height: 100%;
		&.split_two{
		  width: 50%;
		  height: 100%;
    }
    &.split_four{
		  width: 50%;
	  	height: 50%;
    }
  }
  .compare_map_label{
    position: absolute;
    top: 40px;
    left: 250px;
    z-index: 4000;
    color: $white;
    padding: 10px 20px 10px 20px;
    @include background-gradient($from-base, $to-base);
  }
  $panel-width: 500px;
  $panel-height: 430px;
  #compare_panel_container{
    position: absolute;
    font-weight: $light;
    #compare_panel{
      width: $panel-width;
      height: $panel-height;
      @include bg-color($white);
      @include box-shadow(-1px, 1px, 3px, #BBBBBB);
      &.split_two{
        height: 225px;
      }
      &.no_split{
        width: 250px;
        height: 225px;
      }
      @include link('a#compare_panel_stats_btn'){
        display: block;
        text-align: center;
      }
      .compare_panel_section{
        float: left;
        width: 249px;
        height: 215px;
        font-weight: $light;
        font-size: 12px;
      }
      .compare_panel_section_title{
        font-size: 20px;
        text-align: center;
        margin: 4px 0 4px 0;
      }
      .compare_panel_section_subtitle{
        font-size: 15px;
        text-align: center;
      }
      .compare_panel_content{
        &.shops{
          img{
            width: 45px;
            //height: 45px;
          }
        }
        &.loading{
          img{
            width: 45px;
            //height: 45px;
          }
        }
        &.uff_ucf{
          img{
            width: 45px;
            //height: 45px;
          }
        }    
      }
      .compare_panel_content_icon{
        position: relative;
        display: block;
      }
      .compare_panel_content_datablock{
        float: left;
        margin: 0 14px 0 0;
      }
      $border-color: $black;
      #compare_panel_section0{
        border-right: 1px solid $border-color;
      }
      #compare_panel_section2{
        border-top: 1px solid $border-color;
        border-right: 1px solid $border-color;
      }
      #compare_panel_section3{
        border-top: 1px solid $border-color;
      }
      .compare_panel_content{
        padding: 6px 5px 6px 25px;
        .compare_panel_content_icon{
          float: left;
        }
        .compare_panel_content_data{
          float: left;
          margin: 12px 0 0 8px;
        }
        &.uff_ucf{
          .compare_panel_content_icon{
            margin: 12px 0 0 0;
          }
        }
      }
    }
  }
  #compare_map_gradient{
    position: absolute;
    display: block;
    width: 150px;
    padding: 2px;
    z-index: 4500;
    font-weight: $light;
    font-size: 13px;
    right: 12px;
    bottom: 14px;
    @include bg-color($white);
    @include box-shadow(-1px, 1px, 3px, #BBBBBB);
    #compare_map_gradient_min{
      float: left;
    }
    #compare_map_gradient_max{
      float: right;
    }
    #compare_map_gradient_color{
      display: block;
      height: 12px;
      background: -moz-linear-gradient(left, #00ff00 0%, #ffff00 49%, #ff0000 100%);
      background: -webkit-gradient(left top, right top, color-stop(0%, #00ff00), color-stop(49%, #ffff00), color-stop(100%, #ff0000));
      background: -webkit-linear-gradient(left, #00ff00 0%, #ffff00 49%, #ff0000 100%);
      background: -o-linear-gradient(left, #00ff00 0%, #ffff00 49%, #ff0000 100%);
      background: -ms-linear-gradient(left, #00ff00 0%, #ffff00 49%, #ff0000 100%);
      background: linear-gradient(to right, #00ff00 0%, #ffff00 49%, #ff0000 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ff00', endColorstr='#ff0000', GradientType=1 );
    }
  }
}
