@import 'app/shared.css.scss';
#compare{
  position: absolute;
  width: 100%;
  height: 100%;
  .compare_map{
    position: absolute;
		width: 100%;
		height: 100%;
		border: 1px solid #000000;
  }
  .compare_map.split_two{
		width: 50%;
		height: 100%;
  }
  .compare_map.split_four{
		width: 50%;
		height: 50%;
  }
}
